* {
  margin: 300;
  padding: 300;
  box-sizing: border-box;
}

nav {
  margin: 20px 0;
}

.page {
  display: none;
  margin-top: 50px;
}

.page h1, h2 {
  font-size: 28px;
  color: #2c3e50;
  margin-bottom: 20px;
}

/*typography*/
h3 {
  font-size: 2.5em;
  text-align: center;
  color: #778da9;
}

label, input, select {
  background-color: white;
}

h4, h5 {
  color: #415a77;
  font-size: 2.0em;
}

h5 {
  font-size: 2em;
}

blockquote {
  text-align: center;
  color: #1b263b;
}

/*image*/
img {
  display: block;
  margin: auto;
}

/*link*/
a {
  display: inline-block;
  padding: 10px;
  margin: auto;
  background-color: #1b263b;
  color: #e0e1dd;
}

/*containers*/
div {
  margin-bottom: 20px;
}

.highlight {
  background-color: #e0e1dd;
  padding: 10px;
}

#main-title {
  font-family: "Helvetica";
}

/*light mode(default)*/
body {
  background-color: #f0ebd8;
  color: #0d1321;
}

button {
  background-color: #1d2d44;
  color: #f0ebd8;
}

/*light mode headings */
h3, h4, blockquote {
  color: #415a77;
}

/*dark mode styles*/
body.dark-mode {
  background-color: #0d1321;
  color: #f0ebd8;
}

body.dark-mode button {
  background-color: #748cab;
  color: #1d2d44;
}

body.dark-mode h5, 
body.dark-mode h3, 
body.dark-mode h4, 
body.dark-mode blockquote {
  color: #edf2f4;
}

body.dark-mode a {
  background-color: #748cab;
  color: #0d1321;
}
